<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ItemDao" >

	<resultMap id="itemMap" type="Item">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<id column="item_id" property="itemId" jdbcType="INTEGER" javaType="int"/>
		<result column="item_name" property="itemName" jdbcType="VARCHAR" javaType="String"/>
		<result column="gmt_created" property="gmtCreated" jdbcType="DATE" javaType="Date"/>
		<result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="Date"/>
		<result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
	</resultMap>

	<sql id="table_name">item</sql>
	<sql id="select_columns">
		t.id as id,t.item_id as itemId, t.item_name as itemName,
		t.gmt_created as gmtCreated, t.gmt_modified as gmtModified,
		t.remark as remark
	</sql>

	<select id="listItem" resultMap="itemMap">
		SELECT <include refid="select_columns"/>
		FROM
		<include refid="table_name"/> t

	</select>
</mapper>